

.logo img{
    width: 50px;
}

.logo{
    display: flex;
    align-items: center;
}

.navbar-toggler i{
    color: white;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.title-table{
    width: 50%;
}

.last-col-table{
    width: 10%;
}


